body, html {
    font-family: 'Quicksand', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#logoname {
    /*font-family: 'Quicksand', serif;*/
    font-family: 'Alegreya', serif;
    padding-left: 20px;
    margin-top: 10px;
    color: #00cfea;
}

#app-logo,
#logoname {
    float: left;
}

#post-body {
    white-space: nowrap;
    width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#my-div {
    background: #0d2e63;
    padding: 30px;
    align-items: center;
}

#toggler {
    color: #00cfea;
}


.nav-item {
    color: #00cfea;
    font-family: 'Quicksand', serif;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-item:hover {
    color: #22FA93;
    list-style-type: none;

}

/*no-underline text-green-light hover:text-blue-light*/

.container {
    font-family: 'Quicksand', serif;
    font-size: 14px;

}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 20px;
}

.container a {
    font-size: 28px;
    color: #00cfea;
}

.container a:hover {
    color: #22FA93;
    list-style-type: none;
    text-underline: white;
}

.container h3 {
    font-size: 22px;
    color: #22FA93;
}

.text-blue-light {
    color: #00cfea;
}

.text-green-light {
    color: #22FA93;
}

.like-button {
    border-radius: 6px;

}

/*.like-button:hover {*/


/*}*/
