body {
    font-family: 'Quicksand', serif;
}

#logoname {
    /*font-family: 'Quicksand', serif;*/
    font-family: 'Alegreya', serif;

}

.app-logo {

}

.yourElement {
    animation-duration: 8s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

#post-body {
    white-space: nowrap;
    width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
}